Repository cluetec/lifeboat, changes with the labels that .github/labeler.yml gives for each.
All labels: ci, documentation

.github/labeler.yml:

# Documentation: https://github.com/actions/labeler

ci:
  - .github/**

documentation:
  - "**/*.md"

chore: add excalidraw link
  internal_open_discussion.md
Labels: documentation

docs: update internal_open_discussion.md
  internal_open_discussion.md
Labels: documentation

docs: update internal_open_discussion.md
  internal_open_discussion.md
Labels: documentation

init cobra setup
  cmd/root.go
  go.mod
  go.sum
  main.go
Labels: none

add license text
  cmd/root.go
Labels: none

add initial backup cmd
  cmd/backup.go
  cmd/root.go
Labels: none

add viper setup
  .gitignore
  go.mod
  go.sum
  internal/config/config.go
Labels: none

fix indent in copyright
  cmd/backup.go
  cmd/root.go
  internal/config/config.go
  internal_open_discussion.md
  main.go
Labels: documentation

chore: Fix markdown link checker
  .github/workflows/markdown-checks.yaml
  .github/workflows/scan-codeql.yaml
  CONTRIBUTING.md
  Makefile
  old/Dockerfile
  old/README_old.md
  old/charts/backup/.helmignore
  old/charts/backup/Chart.yaml
  old/charts/backup/templates/NOTES.txt
  old/charts/backup/templates/_helpers.tpl
  old/charts/backup/templates/cronjob.yaml
  old/charts/backup/templates/serviceaccount.yaml
  old/charts/backup/templates/vaultconfigs.yaml
  old/charts/backup/values.yaml
  old/cmd/backup/main.go
  old/go.mod
  old/go.sum
  old/internal/config/config.go
  old/internal/config/config_test.go
  old/internal/destination/azureblob/config.go
  old/internal/destination/azureblob/destination.go
  old/internal/destination/destination.go
  old/internal/destination/filesystem/destination.go
  old/internal/logging/init.go
  old/internal/logging/tracingContext.go
  old/internal/sources/hashicorpvault/client.go
  old/internal/sources/hashicorpvault/config.go
  old/internal/sources/utils.go
Labels: ci, documentation

chore: Remove codeql scan for the moment
  .github/workflows/scan-codeql.yaml
Labels: ci

chore: Fix markdown link checker
  .github/workflows/markdown-checks.yaml
  .github/workflows/scan-codeql.yaml
  Makefile
Labels: ci

update cmd descriptions
  cmd/backup.go
  cmd/root.go
Labels: none

add initial backup cmd
  cmd/backup.go
  cmd/root.go
Labels: none

add license text
  cmd/root.go
Labels: none

add viper setup
  .gitignore
  go.mod
  go.sum
  internal/config/config.go
Labels: none

chore: Fix markdown link checker
  .github/workflows/scan-codeql.yaml
  CONTRIBUTING.md
  old/Dockerfile
  old/README_old.md
  old/charts/backup/.helmignore
  old/charts/backup/Chart.yaml
  old/charts/backup/templates/NOTES.txt
  old/charts/backup/templates/_helpers.tpl
  old/charts/backup/templates/cronjob.yaml
  old/charts/backup/templates/serviceaccount.yaml
  old/charts/backup/templates/vaultconfigs.yaml
  old/charts/backup/values.yaml
  old/cmd/backup/main.go
  old/go.mod
  old/go.sum
  old/internal/config/config.go
  old/internal/config/config_test.go
  old/internal/destination/azureblob/config.go
  old/internal/destination/azureblob/destination.go
  old/internal/destination/destination.go
  old/internal/destination/filesystem/destination.go
  old/internal/logging/init.go
  old/internal/logging/tracingContext.go
  old/internal/sources/hashicorpvault/client.go
  old/internal/sources/hashicorpvault/config.go
  old/internal/sources/utils.go
Labels: ci, documentation

init cobra setup
  cmd/root.go
  go.mod
  go.sum
  main.go
Labels: none

fix indent in copyright
  cmd/backup.go
  cmd/root.go
  internal/config/config.go
  internal_open_discussion.md
  main.go
Labels: documentation

update cmd descriptions
  cmd/backup.go
  cmd/root.go
Labels: none

update cmd descriptions
  cmd/backup.go
  cmd/root.go
Labels: none

get rid of backticks
  cmd/backup.go
  cmd/root.go
Labels: none

remove not wanted stuff
  .github/workflows/scan-codeql.yaml
  CONTRIBUTING.md
  old/Dockerfile
  old/README_old.md
  old/charts/backup/.helmignore
  old/charts/backup/Chart.yaml
  old/charts/backup/templates/NOTES.txt
  old/charts/backup/templates/_helpers.tpl
  old/charts/backup/templates/cronjob.yaml
  old/charts/backup/templates/serviceaccount.yaml
  old/charts/backup/templates/vaultconfigs.yaml
  old/charts/backup/values.yaml
  old/cmd/backup/main.go
  old/go.mod
  old/go.sum
  old/internal/config/config.go
  old/internal/config/config_test.go
  old/internal/destination/azureblob/config.go
  old/internal/destination/azureblob/destination.go
  old/internal/destination/destination.go
  old/internal/destination/filesystem/destination.go
  old/internal/logging/init.go
  old/internal/logging/tracingContext.go
  old/internal/sources/hashicorpvault/client.go
  old/internal/sources/hashicorpvault/config.go
  old/internal/sources/utils.go
Labels: ci, documentation

feat: add cobra and viper setup (#3)
  .gitignore
  cmd/backup.go
  cmd/root.go
  go.mod
  go.sum
  internal/config/config.go
  internal_open_discussion.md
  main.go
Labels: documentation

chore: add codeql pipeline
  .github/workflows/codeql.yml
Labels: ci
